<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include stylesheet %}
    </head>
    <body>
        <div class="appbar">
            Register
        </div>
        <form action="/signup/" method="POST">
            <table>
                {{ form.as_table }}
                {% csrf_token %}
                <tr>
                    <td class="center-text" colspan="2">
                        <input class="submitbtn" type="submit" value="REGISTER">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
